{% assign images = include.images | split: ',' %}
{% assign urls = include.urls | split: ',' %}
<div class="row">
  {% for image in images %}
  {% assign index = {{forloop.index0}} %}
  {% assign url = urls[index] %}
  <div class="col-lg-3 col-md-4 col-xs-6 my-2">
    {% if url %}
    <a href="{{ url }}">
    {% endif %}
      <img class="rounded img-fluid"
           src="{{ image | prepend: '/' | relative_url }}"
           alt="{{ image | prepend: '/' | split: '/' | last }}">
    {% if url %}
    </a>
    {% endif %}
  </div>
  {% endfor %}
</div>
