<section id="{{ section.section_id }}" class="{{ section.background_style }}">
  <div class="row">
    {% for item in items %}
    <div class="col-lg-3 col-md-4 col-xs-6 my-2">
      {% if item.url %}
      <a href="{{ item.url }}">
      {% endif %}
        <img class="rounded img-fluid"
          src="{{ item.img | prepend: '/' | relative_url }}"
          {% if item.name %}
            alt="{{ item.name }}">
          {% else %}
            alt="{{ item.img | prepend: '/' | split: '/' | last }}">
          {% endif %}
      {% if item.url %}
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
